.ig-post {
  max-width: 550px;
}
.ig-post .views-field-nothing {
  height: 100%;
}
.ig-post .views-field-nothing .field-content {
  height: 100%;
  display: block;
}

.ig-container {
  height: 100%;
  margin-top: 2rem;
}
.ig-container a {
  text-decoration: none;
}
.ig-container .views-element-container {
  max-width: 90vw;
  width: 100%;
  margin: auto;
}
.ig-container .medium-12 div h2.block-title {
  text-align: center;
  color: #082e6d;
  font-weight: bold;
}

.homepage__employees {
  padding: 0;
}
.homepage__employees .medium-8 {
  padding-top: 0;
}
.homepage__employees .item-card {
  margin-top: 0;
}

.instagram-container ul {
  list-style-type: none;
  margin: 0 1.25rem 0 1.25rem;
}
.instagram-container .instagram-carousel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  justify-content: center;
  max-width: 100%;
  gap: 2rem;
}
.instagram-container .instagram-carousel img {
  box-shadow: rgba(254, 254, 254, 0.7) 0px 8px 24px;
  color: rgb(14, 27, 65);
  border-left: 5px solid black;
  border-right: 5px solid black;
  border-top: 5px solid black;
}

.ig-section .medium-12 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ig-block .view-content {
  margin-left: auto;
  margin-right: auto;
}
.ig-block .ig-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.62) 0px 1px 4px;
  max-height: 550px;
}
.ig-block .ig-inner-container .ig-text-container {
  position: absolute;
  color: white;
  height: 100%;
  display: grid;
  background-color: rgba(0, 0, 0, 0);
  grid-template-columns: 1fr;
  grid-template-rows: 85% 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.ig-block .ig-inner-container .ig-text-container .ig-body {
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  color: white;
  overflow: hidden;
  height: 100%;
}
.ig-block .ig-inner-container .ig-text-container .ig-body p {
  display: none;
}
.ig-block .ig-inner-container .ig-text-container .ig-body:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transition: ease-in 150ms;
}
.ig-block .ig-inner-container .ig-text-container .ig-body:hover p {
  display: block;
}
.ig-block .ig-inner-container .ig-text-container .ig-link-container {
  width: 100%;
  background: black;
  display: flex;
}
.ig-block .ig-inner-container .ig-text-container .ig-link {
  padding: 1rem 0;
  align-items: center;
  gap: 1rem;
}
.ig-block .ig-inner-container .ig-text-container .ig-link .fi-social-instagram {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
}
.ig-block .ig-inner-container .ig-text-container .ig-profile-link {
  color: white;
  align-items: center;
  font-size: min(5vw, 18px);
}
@media only screen and (min-width: 2000px) {
  .ig-block .ig-inner-container .ig-inner-container {
    max-height: 550px;
  }
  .ig-block .ig-inner-container img {
    height: 100%;
    object-fit: cover;
    max-height: 550px;
  }
}
@media only screen and (max-width: 1999px) {
  .ig-block .ig-inner-container img {
    object-fit: cover;
  }
}
.ig-block .ig-inner-container img {
  height: 100%;
  width: auto;
  aspect-ratio: 1/1;
}

/*# sourceMappingURL=style.css.map */
